# System files #
###############
*.log
*.cache
*.blade.php.cache
*.blade.php.meta

# Environment files #
#####################
.env
.env.backup
.env.*.backup
.env.local
.env.*.local

# Composer files #
##################
/vendor
composer.lock

# Node.js #
##########
node_modules
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Laravel #
###########
/public/hot
/public/storage
/storage/*.key
/storage/debugbar/
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs
/bootstrap/cache/*.php
/bootstrap/cache/config.php
/bootstrap/cache/routes.php

# PHP Unit #
############
.phpunit.result.cache
.php_cs.cache
.php_cs
.php_cs.dist

# Homestead #
#############
Homestead.json
Homestead.yaml
Homestead.yaml.example
aliases

# User-specific files #
########################
.idea/
.vscode/
*.swp
*.swo
*.swn
*.DS_Store
Thumbs.db

# Others #
##########
/public/build/
/public/mix-manifest.json
/_ide_helper.php
/_ide_helper_models.php
/.phpstorm.meta.php
/.vagrant
.vagrant/
