@font-face {
    font-family: Aternix;
    src: url('/fonts/Aternix-Regular.ttf');
}

@font-face {
    font-family: FreeMono;
    src: url('/fonts/FreeMono.otf');
}

@font-face {
    font-family: Iceland;
    src: url('/fonts/Iceland-Regular.ttf');
}

@font-face {
    font-family: Electrolize;
    src: url('/fonts/Electrolize-Regular.ttf');
}


#page-container {
    background-color: black;
}

#tsparticles {
    height: 90vh;
    width: 100% !important;
}

.frontend-header {
    background-color: #101010;
    min-height: 45px;
    align-items: stretch;
}

#frontend-header-div {
    justify-content: center;
    display: flex;
    height: inherit;
}

#frontend-header-list {
    display: flex;
    justify-content: center;
    min-height: 45px;
    min-height: inherit;
    margin: 0;
}

.main-menu-item {
    min-height: inherit;
}

.main-menu-link {
    padding-left: 20px;
    padding-right: 20px;
    min-height: inherit;
    align-items: center;
    display: flex;
    width: fit-content;
}

span {
    color: #f1f1f1;
    font-family: "Electrolize";
}

.main-menu-link>span {
    font-family: "Iceland";
    color: #f1f1f1;
    font-size: 20px;
}

p {
    font-family: "Electrolize";
    color: #f1f1f1;
}

h3 {
    font-family: "Iceland";
    color: #f1f1f1;
    font-size: 32px;
    filter: drop-shadow(2px 2px black);
}

a {
    font-family: "Electrolize";
    color: #f1f1f1;
}

ul {
    list-style: none;
}

.main-menu-item:hover {
    background-color: #171717;
}

svg {
    margin-right: 0.5em;
    color: red;
}

.header-row {
    margin: 0 !important;
}

canvas {
    max-height: 80vh !important;
}

#main {
    background-color: #0E0E10;
}

#aternixlogoheader {
    margin-left: 4%;
    margin-right: 4%;
}

#logospan {
    width: inherit;
    font-family: Aternix;
    letter-spacing: 8px;
    font-size: 20px;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px darkred;
    color: #f1f1f1;
    background: -webkit-linear-gradient(#000, #333);
    background-clip: text;
    -webkit-background-clip: text;
    filter: drop-shadow(2px 2px black);
}

#logoanchor {
    width: 100%;
}

.hero {
    height: 80vh;
    background-color: black;
}

#about-hero {
    align-items: flex-end;

}

#about-hero-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/media/photos/about_hero.png);
    background-size: cover;
    background-position: top;
    filter: blur(2px) grayscale(1);
}

.artist-info {
    text-align: center;
    z-index: 10;
}

.artist-name {
    color: #f1f1f1;
}

#about-profile-img {
    border-radius: 50%;
}

.block {
    box-shadow: 0 1px 3px rgb(255 0 0 / 20%), 0 1px 2px rgb(255 0 0 / 50%);
}

.block-fx-shadow {
    box-shadow: 0 0 2.25rem #6c0a0a !important;
}

.about-icons {
    height: 32px;
}

.block {
    background-color: #20242d !important;
}

.block-header-default {
    background-color: #2c323f !important;
}

small {
    color: #b50000 !important;
}

.artist-text {
    margin-bottom: 0;
}

.smoke {
    object-fit: fill;
    aspect-ratio: unset !important;
    width: 100% !important;
    height: 200px !important;
    z-index: 50;
    filter: brightness(25%);
    margin-top: -5%;

}

.video-container {
    background-image: linear-gradient(to bottom, black, #0E0E10);
    margin-top: -5%;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
}

.os-scrollbar-track {
    mix-blend-mode: difference;
    background-color: rgba(127, 127, 127, .155);
}

#runes {
    font-family: "FreeMono" !important;
    font-weight: 500;
    display: inline-block;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    background: -webkit-linear-gradient(#000, #333);
    background-clip: text;
    -webkit-background-clip: text;
    filter: drop-shadow(2px 2px black);
}

footer {
    background-color: #101010;
}

#bottom-footer {
    background-color: #000;
}

#bottom-footer-content {
    padding: 28px;
}

.glowing-footer-menu-explore {
    box-shadow: 0 10px 10px -10px red;
    height: 13.5%;
    width: fit-content;
    clip-path: inset(0px 0px -20px 0px);

}

.glowing-footer-menu-company {
    box-shadow: 0 10px 10px -10px orange;
    height: 13.5%;
    width: fit-content;
    clip-path: inset(0px 0px -20px 0px);
}

.glowing-footer-menu-projects {
    box-shadow: 0 10px 10px -10px yellow;
    height: 13.5%;
    width: fit-content;
    clip-path: inset(0px 0px -20px 0px);
}

.glowing-footer-menu-legal {
    box-shadow: 0 10px 10px -10px #00D100;
    height: 13.5%;
    width: fit-content;
    clip-path: inset(0px 0px -20px 0px);
}

.glowing-footer-menu-socials {
    box-shadow: 0 10px 10px -10px blue;
    height: 13.5%;
    width: fit-content;
    clip-path: inset(0px 0px -20px 0px);
}

#footer-logo {
    position: relative;
    filter: drop-shadow(2px 2px black);
    top: 50%;
    transform: translateY(-50%);
}

svg.svg-inline--fa.fa-steam {
    color: #324b6c;
}

svg.svg-inline--fa.fa-itch-io {
    color: #ff5c5b;
}

svg.svg-inline--fa.fa-discord {
    color: #7289da;
}

svg.svg-inline--fa.fa-linkedin {
    color: #0a66c2;
}

svg.svg-inline--fa.fa-instagram {
    color: #E1306C;
}

iconify-icon {
    color: #ef1c6e;
    margin-right: 15px;
}

#footer-socials {
    display: flex;
    font-size: 25px !important;
    margin: 0;
}

.content {
    max-width: 1400px !important;
}

main {
    background-color: #0E0E10 !important;
}

h5 {
    font-family: "Iceland";
    color: #f1f1f1;
    font-size: 1.35rem;
    margin-bottom: initial;
}

.block-title {
    font-size: 32px;
    line-height: initial;
}

a:hover {
    color: darkgray !important;
}

.content-span {
    font-size: 16px;
}

.minecraft-covers {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 47.5%
}

.vertical-center-col {
    display: flex;
    align-items: center;
}

a {
    color: #f1f1f1 !important;
}

a.fw-semibold.text-dark {
    color: gray !important;
}

a.fw-semibold.text-dark:hover {
    color: rgb(80, 80, 80) !important;
}
iframe {
    width: inherit;
    height: 640px;
}
#server-icon{
    float: left;
    clear: both;
    margin-right: 2%;
}