@font-face {
    font-family: Aternix;
    src: url('/fonts/Aternix-Regular.ttf');
}

@font-face {
    font-family: FreeMono;
    src: url('/fonts/FreeMono.otf');
}

@font-face {
    font-family: Iceland;
    src: url('/fonts/Iceland-Regular.ttf');
}

@font-face {
    font-family: Electrolize;
    src: url('/fonts/Electrolize-Regular.ttf');
}


#page-container {
    background-color: black;
}

#tsparticles {
    height: 90vh;
    width: 100% !important;
}

.frontend-header {
    background-color: #101010;
    min-height: 45px;
    align-items: stretch;
}

#frontend-header-div {
    justify-content: center;
    display: flex;
    height: inherit;
}

#frontend-header-list {
    display: flex;
    justify-content: center;
    min-height: 45px;
    min-height: inherit;
    margin: 0;
}

.main-menu-item {
    min-height: inherit;
}

.main-menu-link {
    padding-left: 20px;
    padding-right: 20px;
    min-height: inherit;
    align-items: center;
    display: flex;
    width: fit-content;
}

span {
    color: #f1f1f1;
    font-family: "Electrolize";
}

.main-menu-link>span {
    font-family: "Iceland";
    color: #f1f1f1;
    font-size: 20px;
}

p {
    font-family: "Electrolize";
    color: #f1f1f1;
}

div {
    font-family: "Electrolize";
}

h1 {
    font-family: "Iceland";
    color: #f1f1f1;
    font-size: 3em;
}

h2 {
    font-family: "Iceland";
    color: #f1f1f1;
    font-size: 2em !important;
}

h3 {
    font-family: "Iceland";
    color: #f1f1f1;
    font-size: 32px;
    filter: drop-shadow(2px 2px black);
    font-weight: 500;
}

a {
    font-family: "Electrolize";
    color: #f1f1f1;
}

ul {
    list-style: none;
}

.main-menu-item:hover {
    background-color: #171717;
}

.main-menu-link>svg {
    margin-right: 0.5em;
    color: red;
}

.header-row {
    margin: 0 !important;
}

canvas {
    max-height: 80vh !important;
}

#main {
    background-color: #0E0E10;
}

#aternixlogoheader {
    margin-left: 4%;
    margin-right: 4%;
}

#logospan {
    width: inherit;
    font-family: Aternix;
    letter-spacing: 8px;
    font-size: 20px;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px darkred;
    color: #f1f1f1;
    background: -webkit-linear-gradient(#000, #333);
    background-clip: text;
    -webkit-background-clip: text;
    filter: drop-shadow(2px 2px black);
    display: inline;
}

#logoanchor {
    width: 100%;
}

.hero {
    height: 80vh;
    background-color: black;
}

#about-hero {
    align-items: flex-end;

}

#about-hero-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/media/photos/about_hero.png);
    background-size: cover;
    background-position: top;
    filter: blur(2px) grayscale(1);
}

.artist-info {
    text-align: center;
    z-index: 10;
}

.artist-name {
    color: #f1f1f1;
}

#about-profile-img {
    border-radius: 50%;
}

.block {
    box-shadow: 0 1px 3px rgb(255 0 0 / 20%), 0 1px 2px rgb(255 0 0 / 50%);
}

.block-fx-shadow {
    box-shadow: 0 0 2.25rem #6c0a0a !important;
}

.about-icons {
    height: 32px;
}

.about-icons>a>svg {
    color: var(--clr);
}

.block {
    background-color: #20242d !important;
}

.block-header-default {
    background-color: #2c323f !important;
}

small {
    color: #b50000 !important;
}

.artist-text {
    margin-bottom: 0;
}

.smoke {
    object-fit: fill;
    aspect-ratio: unset !important;
    width: 100% !important;
    height: 200px !important;
    filter: brightness(25%);
    margin-top: -120px;
    width: 100%;
    position: relative;
}

.video-container {
    background-image: linear-gradient(to bottom, black, #0E0E10);
    margin-top: -5%;
    position: relative;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
}

.os-scrollbar-track {
    mix-blend-mode: difference;
    background-color: rgba(127, 127, 127, .155);
}

#runes {
    font-family: "FreeMono" !important;
    font-weight: 500;
    display: inline-block;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    background: -webkit-linear-gradient(#000, #333);
    background-clip: text;
    -webkit-background-clip: text;
    filter: drop-shadow(2px 2px black);
}

footer {
    background-color: #101010;
}

#bottom-footer {
    background-color: #000;
}

#bottom-footer-content {
    padding: 28px;
}

.glowing-footer-menu-explore {
    box-shadow: 0 10px 10px -10px red;
    height: 13.5%;
    width: fit-content;
    clip-path: inset(0px 0px -20px 0px);

}

.glowing-footer-menu-company {
    box-shadow: 0 10px 10px -10px orange;
    height: 13.5%;
    width: fit-content;
    clip-path: inset(0px 0px -20px 0px);
}

.glowing-footer-menu-projects {
    box-shadow: 0 10px 10px -10px yellow;
    height: 13.5%;
    width: fit-content;
    clip-path: inset(0px 0px -20px 0px);
}

.glowing-footer-menu-legal {
    box-shadow: 0 10px 10px -10px #00D100;
    height: 13.5%;
    width: fit-content;
    clip-path: inset(0px 0px -20px 0px);
}

.glowing-footer-menu-socials {
    box-shadow: 0 10px 10px -10px blue;
    height: 13.5%;
    width: fit-content;
    clip-path: inset(0px 0px -20px 0px);
}

#footer-logo {
    position: relative;
    filter: drop-shadow(2px 2px black);
    top: 50%;
    transform: translateY(-50%);
}

svg.svg-inline--fa.fa-steam {
    color: #2a475e;
}

svg.svg-inline--fa.fa-itch-io {
    color: #ff5c5b;
}

svg.svg-inline--fa.fa-discord {
    color: #7289da;
}

svg.svg-inline--fa.fa-linkedin {
    color: #0a66c2;
}

svg.svg-inline--fa.fa-instagram {
    color: #E1306C;
}

iconify-icon {
    color: #ef1c6e;
    margin-right: 15px;
}

#footer-socials {
    display: flex;
    font-size: 25px !important;
    margin: 0;
}

.content {
    max-width: 1400px !important;
}

main {
    background-color: #0E0E10 !important;
}

h5 {
    font-family: "Iceland";
    color: #f1f1f1;
    font-size: 1.35rem;
    margin-bottom: initial;
}

.block-title {
    font-size: 32px;
    line-height: initial;
}

a:hover {
    color: darkgray !important;
}

.content-span {
    font-size: 16px;
}

.minecraft-covers {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 47.5%
}

.vertical-center-col {
    display: flex;
    align-items: center;
}

a {
    color: #f1f1f1 !important;
}

a.fw-semibold.text-dark {
    color: gray !important;
}

a.fw-semibold.text-dark:hover {
    color: rgb(80, 80, 80) !important;
}

iframe {
    width: inherit;
    height: 640px;
}

#server-icon {
    float: left;
    clear: both;
    margin-right: 2%;
}

.website-clients {
    background-position: top;
    background-size: cover;
    padding: 0;
}

.hover-image {
    position: absolute;
    top: 0;
    width: calc(100% - 1.75rem);
    opacity: 0;
}

.hover-container a {
    transition: all linear 0.3s;
}

.hover-container {
    display: flex;
    overflow: hidden;
    position: relative;
}

.hover-container:hover a {
    opacity: 0;
}

.hover-container:hover a.hover-image {
    opacity: 1;
}

.glitchbox {
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
    display: inline;
    position: relative;
}

.glitchbox .aternixtext {
    position: absolute;
    padding: 30px;
    font-family: Aternix;
    letter-spacing: 8px;
    font-size: 20px !important;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px darkred;
    color: #f1f1f1;
    background: -webkit-linear-gradient(#000, #333);
    background-clip: text;
    -webkit-background-clip: text;
    display: inline;
    font-weight: 400;
    filter: drop-shadow(1px 1px black);
    margin-top: -30px;
    margin-left: -30px;
    height: inherit;
    top: -15%;
}

.glitchbox .aternixtext:hover:before,
.glitchbox .aternixtext:hover:after {
    padding: 30px;
    color: white;
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0E0E10;
    overflow: hidden;
    top: 0;
    display: inline;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(51, 51, 51, 0));
    filter: drop-shadow(1px 1px black);
}

.glitchbox .aternixtext:before {
    left: 3px;
    text-shadow: -2px 0 rgb(0, 0, 255);
    animation: glitch-1 2s linear infinite reverse;
}

.glitchbox .aternixtext:after {
    left: -3px;
    text-shadow: -2px 0 rgb(255, 0, 0);
    animation: glitch-2 2s linear infinite reverse;
}

@keyframes glitch-1 {
    0% {
        clip: rect(132px, auto, 101px, 30px);
    }

    5% {
        clip: rect(17px, auto, 94px, 30px);
    }

    10% {
        clip: rect(40px, auto, 66px, 30px);
    }

    15% {
        clip: rect(87px, auto, 82px, 30px);
    }

    20% {
        clip: rect(137px, auto, 61px, 30px);
    }

    25% {
        clip: rect(34px, auto, 14px, 30px);
    }

    30% {
        clip: rect(133px, auto, 74px, 30px);
    }

    35% {
        clip: rect(76px, auto, 107px, 30px);
    }

    40% {
        clip: rect(59px, auto, 130px, 30px);
    }

    45% {
        clip: rect(29px, auto, 84px, 30px);
    }

    50% {
        clip: rect(22px, auto, 67px, 30px);
    }

    55% {
        clip: rect(67px, auto, 62px, 30px);
    }

    60% {
        clip: rect(10px, auto, 105px, 30px);
    }

    65% {
        clip: rect(78px, auto, 115px, 30px);
    }

    70% {
        clip: rect(105px, auto, 13px, 30px);
    }

    75% {
        clip: rect(15px, auto, 75px, 30px);
    }

    80% {
        clip: rect(66px, auto, 39px, 30px);
    }

    85% {
        clip: rect(133px, auto, 73px, 30px);
    }

    90% {
        clip: rect(36px, auto, 128px, 30px);
    }

    95% {
        clip: rect(68px, auto, 103px, 30px);
    }

    100% {
        clip: rect(14px, auto, 100px, 30px);
    }
}

@keyframes glitch-2 {
    0% {
        clip: rect(129px, auto, 36px, 30px);
    }

    5% {
        clip: rect(36px, auto, 4px, 30px);
    }

    10% {
        clip: rect(85px, auto, 66px, 30px);
    }

    15% {
        clip: rect(91px, auto, 91px, 30px);
    }

    20% {
        clip: rect(148px, auto, 138px, 30px);
    }

    25% {
        clip: rect(38px, auto, 122px, 30px);
    }

    30% {
        clip: rect(69px, auto, 54px, 30px);
    }

    35% {
        clip: rect(98px, auto, 71px, 30px);
    }

    40% {
        clip: rect(146px, auto, 34px, 30px);
    }

    45% {
        clip: rect(134px, auto, 43px, 30px);
    }

    50% {
        clip: rect(102px, auto, 80px, 30px);
    }

    55% {
        clip: rect(119px, auto, 44px, 30px);
    }

    60% {
        clip: rect(106px, auto, 99px, 30px);
    }

    65% {
        clip: rect(141px, auto, 74px, 30px);
    }

    70% {
        clip: rect(20px, auto, 78px, 30px);
    }

    75% {
        clip: rect(133px, auto, 79px, 30px);
    }

    80% {
        clip: rect(78px, auto, 52px, 30px);
    }

    85% {
        clip: rect(35px, auto, 39px, 30px);
    }

    90% {
        clip: rect(67px, auto, 70px, 30px);
    }

    95% {
        clip: rect(71px, auto, 103px, 30px);
    }

    100% {
        clip: rect(83px, auto, 40px, 30px);
    }
}

.wavyglitch,
.footerwavyglitch {
    position: relative;
    z-index: 10;
}

.wavyglitch:before,
.wavyglitch:after,
.footerwavyglitch:before,
.footerwavyglitch:after {
    display: block;
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footerwavyglitch:hover {
    color: white !important;
}

.wavyglitch:after,
.footerwavyglitch:after {
    color: #f0f;
    z-index: -1;
    opacity: 0;
}

.wavyglitch:before,
.footerwavyglitch:before {
    color: #0ff;
    z-index: -2;
    opacity: 0;
}

.main-menu-link:hover>.wavyglitch:before,
.footerwavyglitch:hover:before {
    -webkit-animation: glitch 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    animation: glitch 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    opacity: 1;
}

.main-menu-link:hover>.wavyglitch:after,
.footerwavyglitch:hover:after {
    -webkit-animation: glitch 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    animation: glitch 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    opacity: 1;
}

@-webkit-keyframes glitch {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-1px, 1px);
    }

    40% {
        transform: translate(-1px, -1px);
    }

    60% {
        transform: translate(1px, 1px);
    }

    80% {
        transform: translate(1px, -1px);
    }

    to {
        transform: translate(0);
    }
}

@keyframes glitch {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-1px, 1px);
    }

    40% {
        transform: translate(-1px, -1px);
    }

    60% {
        transform: translate(1px, 1px);
    }

    80% {
        transform: translate(1px, -1px);
    }

    to {
        transform: translate(0);
    }
}

#smoke-socials {
    font-size: 35px !important;
    margin: 0;
    position: absolute;
    width: 100%;
    display: block;
    text-align: center;
    top: -50px;
}

#smoke-socials>li {
    display: inline;
}

#smoke-overlay {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    opacity: 0.8;
    pointer-events: none;
}

#smoke-socials>li>a {
    position: relative !important;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    min-height: 45px !important;
}

#smoke-socials>li {
    position: relative;
    display: inline-flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
}

#smoke-socials>li>a>svg {
    margin: 0 !important;
    vertical-align: middle;
}

#smoke-socials>li>a>iconify-icon {
    margin: 0 !important;
    vertical-align: inherit;
}

#smoke-socials li:hover a {
    font-size: 45px;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    z-index: 1 !important;
    animation: wavy 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
}

.no-shadow {
    position: absolute !important;
}

.smoke-shadow {
    pointer-events: none;
}

.smoke-shadow>a>svg {
    border-radius: 50%;
    width: 1px;
    height: 1px;
    color: transparent !important;
    vertical-align: middle;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.smoke-shadow>a>iconify-icon {
    border-radius: 50%;
    width: 1px;
    height: 1px;
    color: transparent !important;
    vertical-align: middle !important;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}


#smoke-socials li:hover+li>a>svg {
    box-shadow: 0 0 45px 25px var(--clr);
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    animation: wavy 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;

}

#smoke-socials li:hover+li>a>iconify-icon {
    box-shadow: 0 0 45px 25px var(--clr);
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    animation-delay: -1s;
    animation: wavy 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
}

#smoke-overlay-container {
    pointer-events: none;
}

li {
    vertical-align: middle;
}

@keyframes wavy {
    0% {
        scale: 100%;
    }

    50% {
        scale: 120%;
    }

    to {
        scale: 100%;
    }
}

:root {
    --bg-color: rgb(20, 20, 20);
    --card-color: rgba(20, 20, 20);
}


#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 916px;
    width: calc(100% - 20px);
    margin: auto !important;
}

#cards:hover>.card::after {
    opacity: 1;
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    height: 260px;
    flex-direction: column;
    position: relative;
    width: 300px;
    text-align: center;
}

.card:hover::before {
    opacity: 1;
}

.card::before,
.card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
}

.card::before {
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y),
            rgba(136, 0, 0, 0.144),
            transparent 40%);
    z-index: 3;
}

.card::after {
    background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y),
            rgba(128, 0, 106, 0.5),
            transparent 40%);
    z-index: 1;
}

.card>.card-content {
    background-color: var(--card-color);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    position: absolute;
    z-index: 2;
}
